body{
    font-family: sans-serif;
    margin: 20px;
}
.mainNav{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding-inline-start: 0px;
    
}.mainNav li{
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}.mainNav a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}
.nav-mob {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}
.logo-d img{
    margin-left: 30px;
    margin-right: 30px;
    width: 100px;
    height: 100px;
}.logo-m img{
    margin-left: 10px;
    margin-right: 10px;
    width: 90px;
    height: 90px;
}
.burger-menu {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    margin-right: 10px;
}

.burger-menu span {
    display: block;
    height: 5px;
    width: 100%;
    background: #000000;
    transition: 0.3s;
    position: relative;
}

/* Анимация превращения в крестик */
.burger-menu.open span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.burger-menu.open span:nth-child(2) {
    opacity: 0;
}
.burger-menu.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
@media (max-width: 768px) {
    body{
        margin: 10px;
    }
    .mainNav {
        display: none; 
        grid-template-columns: repeat(3, 1fr); 
        padding: 50px;
        padding-bottom: 150px;
        border-radius: 20px 20px 200px 200px;
        gap: 2rem;
        list-style: none;
        text-align: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }
    .mainNav a{
        color: #333;
    }
    .mainNav.active {
        display: grid;
    }.mainNav .logo-d {
        display: none;
    }
    .menu-toggle {
        display: flex;
        cursor: pointer;
        font-weight: 900;
    }
    .nav-mob{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }.join-a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;
    }
}